<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>iitbmenu</display-name>
  <filter>
      <filter-name>SessionCheckFilter</filter-name>
      <filter-class>authentication.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>SessionCheckFilter</filter-name>
      <!--url-pattern>/app/*</url-pattern-->
      <url-pattern>/manager_home.jsp</url-pattern> <!-- url from where you implement the filtering -->
  </filter-mapping>
  <filter-mapping>
      <filter-name>SessionCheckFilter</filter-name>
      <!--url-pattern>/app/*</url-pattern-->
      <url-pattern>/additem.jsp</url-pattern> <!-- url from where you implement the filtering -->
  </filter-mapping>

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Connect</display-name>
    <servlet-name>Connect</servlet-name>
    <servlet-class>messmenu.Connect</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/Connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>authentication.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>authentication.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Putrating</display-name>
    <servlet-name>Putrating</servlet-name>
    <servlet-class>authentication.Putrating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Putrating</servlet-name>
    <url-pattern>/Putrating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Putrating2</display-name>
    <servlet-name>Putrating2</servlet-name>
    <servlet-class>authentication.Putrating2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewrating</servlet-name>
    <url-pattern>/Viewrating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewrating</display-name>
    <servlet-name>Viewrating</servlet-name>
    <servlet-class>messmenu.Viewrating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewrating2</servlet-name>
    <url-pattern>/Viewrating2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewrating2</display-name>
    <servlet-name>Viewrating2</servlet-name>
    <servlet-class>messmenu.Viewrating2</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>Viewrating3</servlet-name>
    <url-pattern>/Viewrating3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewrating3</display-name>
    <servlet-name>Viewrating3</servlet-name>
    <servlet-class>messmenu.Viewrating3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Putrating2</servlet-name>
    <url-pattern>/Putrating2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Othermenu</display-name>
    <servlet-name>Othermenu</servlet-name>
    <servlet-class>messmenu.Othermenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Othermenu</servlet-name>
    <url-pattern>/Othermenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenu</display-name>
    <servlet-name>AddMenu</servlet-name>
    <servlet-class>messmenu.AddMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenu</servlet-name>
    <url-pattern>/AddMenu</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>GetItems</display-name>
    <servlet-name>GetItems</servlet-name>
    <servlet-class>messmenu.GetItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItems</servlet-name>
    <url-pattern>/GetItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyMenu</display-name>
    <servlet-name>WeeklyMenu</servlet-name>
    <servlet-class>messmenu.WeeklyMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyMenu</servlet-name>
    <url-pattern>/WeeklyMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMenu</display-name>
    <servlet-name>ChangeMenu</servlet-name>
    <servlet-class>messmenu.ChangeMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMenu</servlet-name>
    <url-pattern>/ChangeMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItems</display-name>
    <servlet-name>AddItems</servlet-name>
    <servlet-class>messmenu.AddItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItems</servlet-name>
    <url-pattern>/AddItems</url-pattern>
  </servlet-mapping>
</web-app>